<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>UILaunchStoryboardName</key>
    <string>Launch Screen.storyboard</string>
    <key>UIApplicationShortcutItems</key>
    <array>
      <dict>
        <key>UIApplicationShortcutItemIconType</key>
        <string>UIApplicationShortcutIconTypeCompose</string>
        <key>UIApplicationShortcutItemType</key>
        <string>com.viraldevelopment.CalAI.feedbackshortcut</string>
        <key>UIApplicationShortcutItemTitle</key>
        <string>Deleting? Tell us why.</string>
        <key>UIApplicationShortcutItemSubtitle</key>
        <string>Send feedback before you delete.</string>
      </dict>
    </array>
    <key>FacebookAdvertiserIDCollectionEnabled</key>
    <true/>
    <key>DTPlatformVersion</key>
    <string>18.4</string>
    <key>DTSDKBuild</key>
    <string>22E235</string>
    <key>UIStatusBarStyle</key>
    <string></string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
        </array>
      </dict>
    </dict>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>We need your camera in order to analyze your food</string>
    <key>NSSupportsLiveActivities</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>Cal AI</string>
    <key>FacebookClientToken</key>
    <string>ee0fb710879db4adebad7475c6da32c3</string>
    <key>DTXcodeBuild</key>
    <string>16E140</string>
    <key>NSPrivacyTrackingDomains</key>
    <array>
      <string>ep1.facebook.com</string>
      <string>https://consent.adjust.cn</string>
      <string>https://consent.adjust.com</string>
      <string>https://consent.adjust.io</string>
      <string>https://consent.adjust.net.in</string>
      <string>https://consent.adjust.world</string>
      <string>https://consent.eu.adjust.com</string>
      <string>https://consent.tr.adjust.com</string>
      <string>https://consent.us.adjust.com</string>
    </array>
    <key>CFBundleIdentifier</key>
    <string>com.viraldevelopment.CalAI</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.healthcare-fitness</string>
    <key>FirebaseAutomaticScreenReportingEnabled</key>
    <false/>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
    </array>
    <key>FacebookDisplayName</key>
    <string>Cal AI</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>instagram</string>
      <string>instagram-stories</string>
    </array>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>NSUserTrackingUsageDescription</key>
    <string>Enable tracking to help us improve product and feature analysis.</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>We use your step count in order to estimate how many calories you burn while walking. Exercises and nutrition data will also sync with Apple Health.</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>FacebookAutoLogAppEventsEnabled</key>
    <false/>
    <key>MinimumOSVersion</key>
    <string>16.0</string>
    <key>CFBundleName</key>
    <string>Cal AI</string>
    <key>CFBundleShortVersionString</key>
    <string>2.8.8</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>fetch</string>
      <string>processing</string>
      <string>remote-notification</string>
      <string>audio</string>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIAppFonts</key>
    <array>
      <string>Relative-Bold.ttf</string>
      <string>Relative-Book.ttf</string>
      <string>Relative-Medium.ttf</string>
    </array>
    <key>CFBundleExecutable</key>
    <string>Cal AI</string>
    <key>NSHealthShareUsageDescription</key>
    <string>We use your step count in order to estimate how many calories you burn while walking. Exercises and nutrition data will also sync with Apple Health.</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>FacebookAppID</key>
    <string>1476999376274208</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>This will enable you to log food with voice. We don't store any data while using your microphone.</string>
    <key>DTAppStoreToolsBuild</key>
    <string>16F7</string>
    <key>BuildMachineOSBuild</key>
    <string>24G84</string>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>NSAccentColorName</key>
    <string>AccentColor</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>This will enable you to log food with voice. We don't store any data while using your microphone.</string>
    <key>UIApplicationSceneManifest</key>
    <dict>
      <key>UIApplicationSupportsMultipleScenes</key>
      <true/>
      <key>UISceneConfigurations</key>
      <dict/>
    </dict>
    <key>CFBundleVersion</key>
    <string>980</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fb1476999376274208</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLName</key>
        <string>co.viraldevelopment.CalAI</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>callaiwidget</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.16672824209-43ss54cagq6qoofjol9sp86ks2t4khu6</string>
          <string>com.googleusercontent.apps.1066023515369-j2e93cchahmrjef1fk8she5tfjattkqc</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>co.viraldevelopment.CalAI</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>calai</string>
        </array>
      </dict>
    </array>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
      <string>co.viraldevelopment.calai.processusage</string>
    </array>
    <key>DTSDKName</key>
    <string>iphoneos18.4</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>DTPlatformBuild</key>
    <string>22E235</string>
    <key>DTXcode</key>
    <string>1630</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string></string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
  </dict>
</plist>
